* {
    padding: 0;
    margin: 0;
    height: auto;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('/assets/img/background.png');
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
}

#game-menu {
    border: 5px solid #ffffff;
    border-radius: 25px;
    background-color:#583aff;
    text-align: center;
    padding: 2rem 0;
}

#game-menu header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#game-menu header h1 {
    padding: 0;
    color: #F8F7FF;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: xxx-large;
    font-weight: 600;
    margin-bottom: 2rem;
    width: 50%;
}

#game-menu header img {
    width: 25%;
}

.game-menu-botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: .5rem;
    padding-bottom: .5rem;
}

.game-menu-botoes .button {
    padding: .8rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    background-color: #f4f4f4;
    border: 0.02rem solid rgb(255, 255, 255);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    display: flex;
    align-items: center;
}

.game-menu-botoes .button:hover {
    background-color: #c3c3c3;
}

.game-menu-botoes img {
    width: 2.5rem;
    height: 2rem;
    margin-left: 0.4rem;
}

.counter-container {
    width: 10%;
    position: absolute; 
    top: 0%; 
    left: 0;
    background-color:#583aff;
    padding: .5rem;
    border-bottom-right-radius: 15px;
}

.counter-text {
    color: white;
    font-weight: 700;
}

.counterimg {
    width: auto !important;
    height: auto !important;
}

#game-apresentation {
    box-sizing: border-box;
    margin: 0;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: auto;
    height: 55vh    ;
    border: 5px solid #ffffff;
    border-radius: 25px;
    background-color: #583aff;
    overflow: a;
}

#game-apresentation h3 {
    color: #F8F7FF;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    font-weight: 600;
    padding: 0.2rem;
    margin: 0.2rem;
    text-decoration: underline;
}

#game-apresentation p {
    color: #F8F7FF;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    font-weight: 600;
}

#game-apresentation ul a {
    text-decoration: none;
    color: #F8F7FF;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    font-weight: 600;
}

#game-apresentation ul li {
    color: #F8F7FF;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    font-weight: 600;
}

#docs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin: 1rem;
    border: 5px solid #ffffff;
    border-radius: 25px;
}

#diagrams {
    width: 50%;
    padding: 1rem;
}

#diagrams ul {
    list-style-type: none;
    gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

#images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 20rem;
    margin: 0;
    padding: 1rem;
    border-left: 2px solid #ffffff;
}

#images img {
    width: 30%;
    height: 30%
}

#game-creators h3 {
    color: #F8F7FF;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

#game-creators ul {
    list-style-type: none;
    gap: 1rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

#game-creators ul li {
    float: left;
    padding-right: 1rem;
}

@media only screen and (max-width: 600px) {
    * {
        overflow: hidden;
    }
    #game-menu {
        margin: 1rem;
        height: 70%;
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center !important;
    }

    #game-menu header img  {
        width: 30%;
    }

    #game-menu header h1 {
        margin-top: 1rem;
        font-size: 2.5rem;
    }

    #game-menu header p {
        font-size: 2.5rem;
    }

    .game-menu-botoes {
        height: 20vh;
    }
  }
